.eight-section {
  &__title {
    margin: 0 auto;

    align-items: center;
    text-align: center;
    font-family: $fon-Montserrat-ExtraBold;
    font-size: $title-text-size;
    line-height: $line-height-title;
    padding-top: 48px;
    margin-bottom: 22px;
  }

  &__div-img {
    text-align: center;
    align-items: center;
    margin-bottom: 16px;
    padding-top: 22px;
  }
  &__icon {
    padding: 0px;
    text-align: center;
    align-items: center;
    margin-bottom: 16px;
  }
  &__heading {
    @extend %reset;
    text-align: center;
    font-family: $fon-Montserrat-ExtraBold;
    font-size: $firset-text-size;
    line-height: $line-height-title;
    color: $primary-orange-color;
  }
  &__div-heading {
    text-align: center;
    align-items: center;
    margin-bottom: 18px;
  }
  &__text {
    font-family: $fon-Montserrat-Medium;
    font-size: $first-title-text-size;
    line-height: $line-height-title-big;
    margin: 0 auto;
    text-align: center;
    color: $secondory-accent-color;
    margin-bottom: 16px;
    width: 226px;
  }
  &__text-two {
    width: 224px;
    font-family: $fon-Montserrat-Medium;
    font-size: $first-title-text-size;
    line-height: $line-height-title-big;
    margin: 0px auto;
    text-align: center;
    padding-bottom: 32px;
  }
  &__a {
    color: $primary-orange-color;
  }
  &__item {
    position: relative;
    @include center-flex($type: 'all');
    padding-bottom: 55px;
    padding-top: 17px;
  }
  &__list:not(:nth-last-child(-n + 1)) {
    margin-right: 10px;
  }
  &__vrapper {
    margin: 0 auto;
    width: 280px;
    height: auto;
    box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);
  }
  &__items {
    @include center-flex($type: 'all');
    margin: 0px;
    padding: 0px;
  }
  &__control {
    width: 28px;
    height: 15px;
    background-color: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    border: none;
  }
  // &__list:hover {
  //   width: 58px;
  //   height: 58px;
  //   border: solid $primary-orange-color 2px;
  //   border-radius: 30px;
  //   cursor: pointer;
  //   transition: border 0.4s linear;
  //   border-style: none;
  //   box-sizing: border-box;
  // }
  &__control--next {
    position: absolute;
    right: 0px;
    background-image: url(../images/prav_short.png);
  }
  &__control--prev {
    position: absolute;
    background-image: url(../images/levs_hort.png);
    left: 0px;
  }
  @media screen and (max-width: 767px) {
    &__list--none {
      display: none;
    }
    &__span {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    &__spane {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .eight-section {
    &__list:not(:nth-last-child(-n + 1)) {
      margin-right: 20px;
    }
    &__title {
      padding-top: 65px;
      margin-bottom: 42px;
      font-size: $three-title-text-size;
    }
    &__vrapper {
      width: 688px;
    }
    &__item {
      padding-top: 24px;
      padding-bottom: 76px;
    }
    &__vrapper {
      width: 688px;
      @include center-flex($type: 'all');
    }
    &__text-two {
      width: 470px;
      padding-bottom: 50px;

      text-align: start;
    }
    &__text {
      font-size: $two-title-text-size;
      width: 470px;
      margin-bottom: 24px;

      text-align: start;
    }
    &__div-heading {
      text-align: start;
    }
    &__heading {
      padding-top: 43px;
      margin-bottom: 24px;
      font-size: $average-text-size;
    }
    &__div-heading {
      margin: 0px;
    }
    &__icon {
      margin: 0px;
    }
    &__div-img {
      padding: 0px;
    }
    &__vrapper-two {
      margin-right: 46px;
    }

    &__control--prev {
      top: -160px;
      left: -18px;
    }
    &__control--next {
      top: -160px;
      right: -18px;
    }
  }
}
@media screen and (min-width: 1280px) and (max-width: 1679px) {
  .eight-section {
    &__list:not(:nth-last-child(-n + 1)) {
      margin-right: 38px;
    }
    &__title {
      padding-top: 90px;
      margin-bottom: 46px;
      font-size: $two-title-text;
    }

    &__item {
      padding-top: 36px;
      padding-bottom: 100px;
    }
    &__vrapper {
      width: 1064px;
      @include center-flex($type: 'all');
    }
    &__text-two {
      width: 716px;
      padding-bottom: 48px;
      font-size: $second-title-text-two;

      text-align: start;
    }
    &__text {
      font-size: $firset-text-size;
      width: 450px;
      margin-bottom: 28px;
      margin-left: 0px;

      text-align: start;
    }
    &__div-heading {
      text-align: start;
    }
    &__heading {
      padding-top: 46px;
      margin-bottom: 22px;
      font-size: $title-text-tive;
    }
    &__div-heading {
      margin: 0px;
    }
    &__icon {
      margin: 0px;
    }
    &__div-img {
      padding: 0px;
    }
    &__vrapper-two {
      margin-right: 46px;
    }

    &__control--prev {
      top: -160px;
      left: 5px;
    }
    &__control--next {
      top: -160px;
      right: 5px;
    }
  }
}
@media screen and (min-width: 1680px) {
  .eight-section {
    &__list:not(:nth-last-child(-n + 1)) {
      margin-right: 38px;
    }
    &__title {
      padding-top: 122px;
      margin-bottom: 48px;
      font-size: $title-text;
    }

    &__item {
      padding-top: 40px;
      padding-bottom: 126px;
    }
    &__vrapper {
      width: 1064px;
      @include center-flex($type: 'all');
    }
    &__text-two {
      width: 716px;
      padding-bottom: 48px;
      font-size: $second-title-text-two;

      text-align: start;
    }
    &__text {
      font-size: $firset-text-size;
      width: 450px;
      margin-bottom: 22px;
      margin-left: 0px;

      text-align: start;
    }
    &__div-heading {
      text-align: start;
    }
    &__heading {
      padding-top: 46px;
      margin-bottom: 22px;
      font-size: $title-text-tive;
    }
    &__div-heading {
      margin: 0px;
    }
    &__icon {
      margin: 0px;
    }
    &__div-img {
      padding: 0px;
    }
    &__vrapper-two {
      margin-right: 46px;
    }

    &__control--prev {
      top: -195px;
      left: 80px;
    }
    &__control--next {
      top: -195px;
      right: 80px;
    }
  }
}
