.one-section {
  background-image: url(/build/images/Sha_320-min.png);
  @extend %background-standart;
  width: 100%;
  height: auto;
  margin: 0 auto;

  &__title {
    font-family: $fon-Montserrat-ExtraBold;
    font-weight: bold;
    @extend %reset;
    padding-top: 58px;
    margin-bottom: 38px;
    font-size: $title-text-size;
    line-height: $line-height-title;
  }

  &__description {
    @extend %reset;
    margin-bottom: 38px;
    font-family: $fon-Montserrat-ExtraBold;
    font-weight: bold;
    font-size: $secondary-title-text-size;
    line-height: $line-height-standart;
  }
  &__description--gray {
    color: $first-gray-color;
  }
  &__description--orange {
    color: $primary-orange-color;
  }
  &__button {
    font-family: $font-Montserrat-bold;
    font-weight: bold;
    @include center-flex($type: 'all');
    margin: 0 auto;
    width: 250px;
    height: 50px;
    @extend %button;
    margin-bottom: 38px;
    color: $primary-white-color;
    background-color: $primary-orange-color;
    text-transform: uppercase;
    font-size: $first-title-text-size;
    line-height: $line-height-standart;
  }
  &__picture {
    @include center-flex($type: 'all');
    margin: 0 auto;
    margin-bottom: 90px;
  }
  &__list {
    margin-bottom: 50px;
  }
  &__icon {
    @include center-flex($type: 'all');
  }
  &__imeges {
    position: relative;
  }

  &__svg {
    fill: $primary-orange-color;
    margin-left: 50px;
    border: $primary-orange-color solid 2px;
  }
  &__imge {
    position: absolute;
    top: 20%;
    left: 90%;
  }
  &__name {
    font-family: $font-Montserrat-bold;
    font-weight: bold;
    font-size: $first-text-size;
    line-height: $line-height-title;
    @extend %reset;
    width: 130px;
    margin: 0 auto;
    margin-left: 10px;
  }
  &__item {
    margin-bottom: 24px;
  }
  &__item:last-child {
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .one-section {
    background-image: url(/build/images/Sha_768-min.png);
  }
}
@media screen and (min-width: 1280px) and (max-width: 1679px) {
  .one-section {
    background-image: url(/build/images/Sha_1280-min.png);
  }
}
@media screen and (min-width: 1680px) {
  .one-section {
    background-image: url(/build/images/Sha_1680-min.png);
  }
}
