@media screen and (max-width: 767px) {
  .container {
    max-width: 340px;
    padding: 0 18px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1919px) {
  .container {
    display: none;
  }
  .page-heder {
    display: none;
  }
  .four-section {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1826px;
    margin: 0 auto;
  }
}
