.content__item {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  color: $color-tekst;
  margin: 0px;
  font-size: $font-size;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: 400;
  padding-top: 45px;
}
