.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;

  &__but {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 150px;
    line-height: 1.2;
    height: 40px;
    margin: 0px;
    padding: 0px;
    background-color: $color-images;
    color: $color-font;
    border: 0;
    text-align: center;
    text-transform: uppercase;
  }
  &__input {
    padding-left: 12px;
    color: $color-input;
    width: 230px;
    height: 40px;
    border: 1px solid;
    outline: 0px solid $color-red;
  }
}
