.page-header {
  width: 100%;
  height: 1000px;
  background-image: url('../images/Layer15.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 35px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  background-image: url('../images/Layer15@2x.png');
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style: none;

  &__main {
    padding-top: 166px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__title {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: $color-font;
    font-size: $big-font-size;
    line-height: 1.2;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
  }
  &__item {
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
    color: $color-font;
    font-size: 150px;
    line-height: 0.9;
    width: 830px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 122px;
  }
  &__but--transparent {
    background-color: transparent;
    border: $color-font solid 3px;
    height: 36px;
    width: 160px;
    margin: 0;
    color: $color-font;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  &__link {
    position: relative;
    padding-bottom: 12px;
    transition: color 200ms ease-in;

    &:hover::after {
      background-color: $color-orange;
    }
    &:hover {
      color: $color-orange;
    }
    &::after {
      position: absolute;
      width: 50px;
      height: 3px;
      display: inline-block;
      content: '';
      transition-duration: 200ms;
      bottom: 0px;
      top: 50%x;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__button {
    fill: $color-main;

    &:hover {
      fill: $color-orange;
      cursor: pointer;
    }
  }

  & li {
    margin-right: 50px;
  }
  & li:nth-last-child(1) {
    margin-right: 0px;
  }
  & a {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-font;
    font-weight: 400;
  }
}
