.section-team {
  &__title {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: $title-text;
    line-height: 1.5;
    position: relative;
    color: $color-tekst;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    margin-bottom: 77px;
    font-weight: 700;
  }

  &__description {
    font-family: 'Roboto', sans-serif;
    margin: 0px auto;
    width: 980px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 95px;
    padding: 0px;
    font-weight: 400;
  }

  &__descriptions {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: $color-tekst;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 18px;
    font-weight: 400;
  }
  &__descriptions-two {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-weight: 300;
    line-height: 1.2;
  }
  &__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    padding-bottom: 85px;
  }
  &__head {
    position: relative;
  }
  &__containere {
    position: relative;
    transition: 200ms ease transform;
  }
  &__beckground {
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
    height: 470px;

    background-color: $background-color-blu;
    z-index: -2;
  }

  &__foreground {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
    height: 470px;

    background-image: -webkit-linear-gradient(
      90deg,
      $background-image-1,
      $background-image-2
    );

    opacity: 0.9;
    cursor: pointer;
    animation: fadein 200ms linear;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.9;
    }
  }

  &__socials-list {
    position: absolute;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  &__img {
    margin-bottom: 30px;
  }
  &__card--hover:hover &__containere--transform {
    transform: translate(-10px, -10px);
  }
  &__card--hover:hover &__foreground--hover {
    display: block;
  }

  &__svg {
    display: inline-block;
    fill: $background-color-title;
  }

  &__socials-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 55px;
    width: 55px;
    background-color: $color-orange;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-right: 1px;

    &--hover:hover .section-team__svg {
      fill: $color-font;
    }
    &--hover:hover {
      background-color: $background-color-title;
    }
  }
}
