@viewport {
  width: device-width;
  zoom: 1;
}
html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}
/* @media screen and (max-width: 767px) { */
.container {
  /* overflow: hidden; */
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.page-heder__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-heder__a {
  width: 24px;
  background-color: transparent;
  cursor: pointer;
  list-style: none;
}
.page-heder__img {
  height: 38.5px;
  width: 129px;
}
.page-heder__burger {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #18191d;
  margin-bottom: 3px;
}
.page-heder__burger:last-child {
  margin-bottom: 0px;
}
.site-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation__a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #3a4047;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 600;
}
.site-navigation__input {
  text-align: center;
}
.site-navigation__svg {
  fill: #3a4047;
  width: 13px;
  height: 13px;
  cursor: pointer;
}
.site-navigation__svg:hover {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transition: color 200ms ease-in;
  transition-property: all;
  fill: #1ab0ce;
  color: #1ab0ce;
  /* box-shadow: 0px -1px 0px #1ab0ce; */
  padding-top: 3px;
}

.site-navigation__a:hover {
  transition: color 200ms ease-in;
  transition-timing-function: linear;
  transition-duration: 200ms;
  color: #1ab0ce;
  /* box-shadow: 0px -1px 0px #1ab0ce; */
  padding-top: 3px;
}
.site-navigation__svg {
  padding-top: 3px;
}

.one-section {
  background-image: url("../imeg/Rectanglle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.one-section__text {
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.5px;
  font-size: 15px;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
  margin: 0px;
  padding-top: 40px;
  margin-bottom: 10px;
  font-weight: 600;

  /* text-transform: uppercase; */
}
.one-section__wrapper {
  position: relative;
}
.one-section__inner {
  font-family: "Open Sans", sans-serif;
  width: 85px;
  height: 85px;
  padding: 10px;
  padding-top: 15px;
  position: fixed;
  z-index: 1;
  width: 34px;
  height: 34px;
  max-width: 120px;
  border-radius: 50%;
  background: #1ab0ce;
  transform: scale(1);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding: 13px;
  padding-left: 15px;
  animation: pulse 2s infinite;
  cursor: pointer;
  margin-left: 260px;
  top: 316px;
  color: #ffffff;
  font-size: 8px;
  text-align: center;
}

.one-section__inner:hover {
  animation: pulse 2s infinite;
}
.one-section__inner::after {
  background-image: url("../imeg/svg/tel.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 14px;
  height: 14px;
  margin: 0 auto;
  content: "";
  position: absolute;
  top: 10px;
  z-index: 4;
}
.one-section__inner::before {
  content: "";
  position: absolute;
  border: 1px solid #1ab0ce;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  border-radius: 50%;
  animation: one-section__inner 1s linear infinite;
  opacity: 0;
}
/* .one-section__inner:hover::after {
  animation-delay: 0.5s;
} */
@keyframes one-section__inner {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.one-section__text-one {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 100;
  margin: 0px;
  margin-bottom: 10px;
}
.one-section__button {
  font-family: "Open Sans", sans-serif;
  background: #1ab0ce;
  color: #ffffff;
  border: none;
  font-weight: 100;
  font-size: 11px;
  line-height: 1.2;
  margin: 0px;
  margin-bottom: 43px;
  padding: 0px;
  width: 100px;
  height: 24px;
  cursor: pointer;
}

.two-section__heading-h1 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
}
.two-section__li {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 14px 65px;
  border: 1px solid #dce1e6;
  margin-bottom: 2px;
}
.two-section__li:last-child {
  margin-bottom: 0px;
}
.two-section__wrapper {
  padding: 0px;
  margin: 0px;
}
.two-section__heading {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 6px;
  font-weight: 600;
  width: 150px;
}
.two-section__img {
  margin-right: 14px;
  text-align: center;
  align-items: center;
  height: 25px;
  width: 25px;
}
.two-section__div {
  display: flex;
  flex-direction: column;
}
.two-section__snare {
  font-family: "Open Sans", sans-serif;
  color: #3a4047;
  margin: 0px;
  font-size: 13px;
  line-height: 1.2;
  margin-bottom: 4px;
}
.two-section__snare:last-child {
  margin-bottom: 0px;
}
.two-section__h2 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
}
.two-section__h3 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
}
.two-section__paragraph {
  font-family: "Open Sans", sans-serif;
  color: #3a4047;
  margin: 0px;
  font-size: 12px;
  line-height: 1.2;
}
.two-section__text {
  font-family: "Open Sans", sans-serif;
  color: #3a4047;
  margin: 0px;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}
.two-section__date {
  color: #bec7d1;
  text-align: center;
}

.two-section__list:hover {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transition: color 200ms ease-in;
  transition-property: all;
  cursor: pointer;
  box-shadow: 0px -1px 0px #1ab0ce, 0px 14px 24px rgba(0, 0, 0, 0.05);
}
.two-section__p:hover {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transition: color 200ms ease-in;
  transition-property: all;
  text-decoration-line: underline;
  color: #1ab0ce;
}

.two-section__list {
  /* padding: 28px 28px; */
  list-style: none;
}

.two-section__wrap {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.two-section__p {
  font-family: "Open Sans", sans-serif;
  padding: 8px 2px 28px 2px;
  margin: 0px;
  font-size: 13px;
  line-height: 1.2;
}
.two-section__date {
  font-family: "Open Sans", sans-serif;
  padding-top: 28px;
  margin: 0px;
  font-size: 13px;
  line-height: 1.2;
}
.two-section__button {
  font-family: "Open Sans", sans-serif;
  color: #1ab0ce;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #1ab0ce;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  margin: 0px;
  padding: 6px 10px;
  margin-bottom: 20px;
}
.two-section__dive {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.footer {
  background-color: #f7f7f7;
}
.footer__work {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  font-size: 13px;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #3a4047;
}
.footer__div {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.footer__text {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  font-size: 13px;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #3a4047;
  font-weight: 400;
}
.footer__img {
  height: 38.5px;
  width: 129px;
}
.footer__rights {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #3a4047;
}
.footer__a {
  font-family: "Roboto", sans-serif;
  color: #3a4047;
  margin: 0px;
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.footer__contact {
  font-family: "Open Sans", sans-serif;
  color: #3a4047;
  margin: 0px;
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 10px;
  /* padding-top: 10px; */
}
.footer__tel {
  color: #000;
  list-style: none;
  text-transform: none;
  font-weight: 600;
}
.footer__wrapper {
  margin-bottom: 4px;
}
.footer__crib {
  font-family: "Roboto", sans-serif;
  color: #3a4047;
  margin: 0px;
  font-size: 10px;
  line-height: 1.2;
  text-transform: uppercase;
}
.footer__dive {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}
.site-navigation__but {
  background-color: transparent;
  border: thistle;
}
.foote-heder__button {
  text-decoration: none;
  list-style: none;
  padding: 0px 4px;
  background: #ededed;
  border-radius: 50%;
  font-weight: 600;
  color: black;
}
.footer-heder__svge {
  height: 17px;
  width: 17px;
  top: 2px;
  left: -21px;
  position: absolute;
  list-style: none;
  text-decoration: none;
}

.page-heder__list {
  display: none;
}
.footer__wrapper {
  position: relative;
}
.footer__list,
.footer__li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    max-width: 688px;
    padding: 0px;
    margin: 0 auto;
  }
  .page-heder__list {
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
  }
  .page-heder__list > .lui {
    width: 118px;
  }
  .page-heder__list > .lt {
    width: 156px;
  }
  .page-heder__wrapper {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .page-heder__li {
    list-style: none;
    font-size: 13px;
    line-height: 1.2;
    text-align: center;
    width: 120px;
  }
  .page-heder__dive {
    display: flex;
    position: relative;
    align-items: center;

    height: 10px;
    text-align: center;
  }

  .page-heder__svge {
    cursor: pointer;
    margin-right: 5px;
    right: 1px;
    width: 16px;
    height: 16px;
  }
  .page-heder__svg {
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  .page-heder__a {
    display: none;
  }
  .page-heder__button {
    text-decoration: none;
    list-style: none;
    padding: 0px 4px;
    background: #ededed;
    border-radius: 50%;
    font-weight: 600;
    color: black;
  }
  .page-heder__tel {
    text-decoration: none;
    list-style: none;
    color: #000;
    font-weight: 600;
    font-size: 14px;
  }
  .page-heder__lis {
    list-style: none;
    text-align: center;
    width: 227px;
  }
  .page-heder__cabinet {
    margin: 0px;
    color: #3a4047;
  }
  .page-heder__li-div {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }

  .page-heder__cabinet-svg {
    margin-right: 4px;
  }
  .page-heder__paragraf {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 12.5px;
    line-height: 1.2;
  }

  .page-heder__website {
    font-size: 13px;
    line-height: 1.2;
    margin: 0px;
    margin-bottom: 15px;
  }
  .page-heder__graphek {
    font-size: 13px;
    line-height: 1.2;
    margin: 0px;
    font-weight: 600;
  }
  .page-heder__website-a {
    color: #3a4047;
  }
  .site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .one-section {
    background-image: url("../imeg/Rectangle688.png");
  }
  .site-navigation__svg:hover {
    stroke: #1ab0ce;
    fill: #1ab0ce;
  }
  .one-section__text {
    font-size: 26px;
    padding-top: 60px;
    margin-bottom: 20px;
  }
  .one-section__text-one {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .one-section__button {
    font-size: 13px;

    margin-bottom: 50px;

    width: 130px;
    height: 30px;
  }
  .site-navigation {
    position: relative;
    margin-bottom: 4px;
  }
  .site-navigation__a:hover {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transition: color 200ms ease-in;
    transition-property: all;
    padding-top: 8px;
    box-shadow: 0px -1px 0px #1ab0ce;
  }
  .site-navigation__a {
    font-size: 13px;
    margin-right: 7px;
  }
  .site-navigation__line {
    position: relative;
  }
  .site-navigation::after {
    position: absolute;
    content: "";
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 2px;
    margin: 0px;
    top: -3px;
    /* bottom: 487px; */
    right: 0px;
    z-index: -1;
  }

  .site-navigation__span::before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 50%;
    background-color: #e8edf2;
    position: absolute;
    top: 5px;
    right: -2px;
  }
  .site-navigation__span {
    position: relative;
  }

  .site-navigation__svg {
    padding-top: 11px;
    width: 14px;
    height: 14px;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .site-navigation__svg:hover {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transition: color 200ms ease-in;
    transition-property: all;
    padding-top: 11px;
    box-shadow: 0px -1px 0px #1ab0ce;
  }
  .page-heder__img,
  .footer__img {
    /* height: 47.7px;
    width: 163.5px; */
    height: 43.7px;
    width: 147.5px;
  }
  .page-heder__listet {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    text-decoration: none;
    margin-bottom: 8px;
  }
  .page-heder__al {
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 14px;
  }
  .page-heder__listet:last-child {
    margin-bottom: 0px;
  }
  .page-heder__ul {
    display: inline-block;
    content: "";
    position: absolute;
    align-items: center;
    text-align: center;
    width: 130px;
    height: 67px;
    background: #ffffff;
    box-shadow: -1px -5px 21px rgba(0, 0, 0.1, 0.1);
    padding: 25px 15px;
    margin: 0px;
    top: 25px;
    right: 0px;
    z-index: 100;
    margin-top: 0px;
    transition-timing-function: linear;
    transition-duration: 200ms;
    transition: color 200ms ease-in;
    transition-property: all;
    transition-duration: 300ms;
    transition: all 0.3s ease;
  }

  .page-heder__ul {
    display: none;
  }
  .page-heder__dive {
    position: relative;
    padding-bottom: 8px;
  }

  .page-heder__dive:hover ul {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transition: color 200ms ease-in;
    transition-property: all;
    transition-duration: 300ms;
    transition: all 0.3s ease;
    display: inline-block;
    z-index: 100;
  }

  .page-heder__imge {
    width: 20px;
    height: 15px;
    margin-right: 5px;
  }
  .page-heder__lise {
    margin-top: 20px;
    list-style: none;
  }
  .page-heder__li-svg {
    width: 26px;
    height: 26px;
  }
  .one-section__inner {
    width: 45px;
    height: 45px;
    margin-left: 602px;
    font-size: 9px;
    top: 320px;
    line-height: 1.4;
  }
  .one-section__inner::after {
    width: 20px;
    height: 20px;
  }
  .two-section__heading-h1,
  .two-section__h2,
  .two-section__h3 {
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .two-section__text {
    font-size: 18px;

    margin-bottom: 14px;
  }
  .two-section__paragraph {
    font-size: 14px;
  }
  .two-section__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .two-section__li {
    padding: 20px 7px;
    margin-bottom: 0px;
  }
  .two-section__img {
    margin-right: 16px;

    height: 30px;
    width: 30px;
  }
  .two-section__heading {
    font-size: 12px;

    width: 156px;
  }
  .two-section__wrap {
    display: flex;
    justify-content: space-between;
  }
  .two-section__snare {
    font-size: 13.5px;
  }
  .two-section__p {
    padding: 12px 0px 34px 0px;

    font-size: 13.5px;

    letter-spacing: -0.5px;
  }

  .two-section__button {
    font-size: 13px;
    padding: 10px 14px;
    margin-bottom: 30px;
  }
  .footer__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__li {
    /* width: 154px; */
    display: flex;
    align-items: flex-start;
  }
  .footer__text,
  .footer__work {
    font-size: 11px;
    line-height: 1.2;
    display: flex;
    align-items: flex-start;
  }

  .footer__crib {
    font-size: 9.5px;
    text-align: end;
    width: 112px;
  }
  .footer__svg {
    width: 14px;
    height: 13px;
  }
  .footer__contact {
    padding-top: 0px;
  }
  .footer__dive {
    align-items: stretch;
    margin-bottom: 10px;
  }
  .footer__rights {
    font-size: 10px;
    line-height: 1.2;
  }
  .footer__lis {
    display: flex;
    align-items: flex-end;
  }
  .footer__list > .lis {
    width: 210px;
    display: flex;
    align-items: flex-start;
    text-align: start;
  }
  .footer__div {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .imeges {
    height: 43.7px;
    width: 147.5px;
    margin-bottom: 5px;
  }
  .footer__list > .lest {
    width: 109px;
  }
  .footer__list > .leste {
    width: 72px;
    font-size: 11px;
  }
  .footer__a {
    font-size: 11px;
  }
}

/* <form
class="site-navigation__input"
action="/search/"
id="cse-search-box"
>
<input
  class="site-navigation__svg"
  type="image"
  src="./imeg/svg/poshuk.svg"
  alt="Найти"
  class="find"
/>
</form> */
