$font-Montserrat-bold: 'Montserrat 700';
$font-Montserrat-normal: 'Montserrat 400';
$fon-Montserrat-ExtraBold: 'Montserrat ExtraBold';
$fon-Montserrat-Medium: 'Montserrat Medium';
$fon-Montserrat-SemiBold: 'Montserrat SemiBold';

$primary-white-color: #ffffff;
$primary-orange-color: #ff6b08;
$secondory-dark-color: #18191d;
$first-gray-color: #b9b9b9;
$secondory-accent-color: red;
$background-color: red;
$border-color: red;
$shadow-color: red;

$title-text-size: 20px;
$subtitle-text-size: 2px;
$first-title-text-size: 11px;
$secondary-title-text-size: 15px;
$first-text-size: 14px;

$line-height-standart: 1.2;
$line-height-title: 1.5;
