$font-Montserrat-bold: 'Montserrat 700';
$font-Montserrat-normal: 'Montserrat 400';
$fon-Montserrat-ExtraBold: 'Montserrat ExtraBold';
$fon-Montserrat-Medium: 'Montserrat Medium';
$fon-Montserrat-SemiBold: 'Montserrat SemiBold';

$primary-white-color: #ffffff;
$primary-orange-color: #ff6b08;
$secondory-dark-color: #18191d;
$first-gray-color: #b9b9b9;
$secondory-accent-color: #858585;
$background-color: red;
$border-color: red;
$shadow-color: red;

$title-text-size: 20px;
$title-text: 46px;
$two-title-text: 42px;
$subtitle-text-size: 48px;
$first-title-text-size: 11px;
$two-title-text-size: 12px;
$secondary-title-text-size: 15px;
$first-text-size: 14px;
$firset-text-size: 13px;
$average-text-size: 18px;
$three-title-text-size: 26px;

$line-height-standart: 1.2;
$line-height-two: 1.3;
$line-height-title: 1.5;
$line-height-big: 2;
