html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Montserrat', 'Roboto', sans-serif;

  color: #b3b3b3;
  font-size: 15px;
  line-height: 1.5;
}
