html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", serif;
  color: #626262;
  font-size: 14px;
  line-height: 21px;
}
.main-nav {
  margin-top: 77px;
  margin-bottom: 103px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 901px;
  margin: auto;
}
.site-navigation {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
  text-align: center;
}
.site-navigation li {
  display: inline-block;
}
.site-navigation li:not(:last-child) {
  margin-right: 121px;
  text-align: center;
}
.site-navigation a {
  color: #626262;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 17ps;
}
#boy {
  color: #03a9f4;
}
.vich {
  padding-top: 58px;
}
.team-list {
  list-style: none;
}
.team-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.team-list-about {
  margin-top: 0px;
}
.team-list-item {
  display: inline-block;
  width: 421px;
  margin-right: 59px;
  margin-bottom: 136px;
}
.team-list-item {
  font-size: 14px;
}

.team-list-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.team-list-item:nth-child(2n) {
  margin-right: 0;
}
.team-list-name {
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 17px;
  color: #b4ad9e;
}
.team-list-occupation {
  font-size: 30px;
  line-height: 36px;
  color: #626262;
}
.download-button {
  margin: 0;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 22px;
  padding-bottom: 22px;
  /* width: 165px;
  height: 60px; */
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  font-weight: 400;
  cursor: pointer;
}
.download {
  display: inline-block;
  width: 901px;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0;
  margin-bottom: 71px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
