$color-font: #ffffff;
$color-orange: #fce38a;
$color-main: rgb(255, 255, 255);
$color-tekst: #333333;
$color-images: #95e1d3;
$background-color-title: #f38181;

$main-text: 14px;
$title-text: 30px;
$big-font-size: 72px;
