$color-font: #ffffff;
$color-orange: #fce38a;
$color-main: rgb(255, 255, 255);
$color-tekst: #333333;
$color-images: #95e1d3;
$background-color-title: #f38181;
$background-color-blu: rgb(149, 225, 211);
$background-image-1: rgb(252, 227, 138) 0%;
$background-image-2: rgb(243, 129, 129) 100%;
$color-red: red;
$color-input: #b3b3b3;

$main-text: 14px;
$font-size: 24px;
$title-text: 30px;
$big-font-size: 72px;
