@viewport {
  width: device-width;
  zoom: 1;
}
html {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto";
  font-family: "Open Sans";
  color: #555252;
  font-size: 14px;
  line-height: 1.5;
}

.tecst {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333333;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 18px;
  padding-top: 70px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333333;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 15px;
}
.block {
  margin-top: 126px;
  margin-bottom: 30px;
}
.wer {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: lighter;
  color: #ffffff;
  line-height: 1.2;
  width: 226px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 16px;
}
.ere {
  justify-content: center;
}

li {
  text-align: center;
}
.main-nav {
  margin-top: 30px;
}

.container {
  width: 280px;
  /* padding: 0 10px; */
  margin: 0 auto;
}
.page-header {
  background-image: url("/img/Vector\ Smart\ Object.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.search {
  font-size: 14px;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: bold;
  line-height: 1.2;
  border: none;
  border-radius: 20px;
  background-color: #ff4e50;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  margin-bottom: 140px;
  transition: border-radius 300ms linear;
}
.search:active,
.search:hover {
  border-radius: 10px;
}
.fug {
  font-size: 30px;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  width: 292px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 8px;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.block {
  margin: 0;
  margin-left: 50px;
}
.cart {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.cart-abs {
  position: absolute;
  bottom: 0px;
  top: 70%;
  left: 70%;
  /* transform: translateX(-50%); */
}
.cart-tu {
  display: inline-block;
  position: relative;
}

.cart-three {
  position: absolute;
  bottom: 0px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.tekst-tu {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 218px;
  margin-bottom: 28px;
}
/* img {
  width: 100%;
  height: 100%;
} */
.visually {
  text-transform: uppercase;
}
.contee {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  width: 90px;
  height: 38px;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: border-radius 300ms linear;
}
.contee:active,
.contee:hover {
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(26, 25, 21, 0);
  width: 94px;
  height: 40px;
}

.bub {
  color: #ff4e50;
  width: 280px;
  height: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
  background-color: rgba(26, 25, 21, 0);
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: #ff4e50;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.fut {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 670px;
  }
  .page-header {
    background-image: url("/img/Vector\ 2\ Smart\ Object.png");
    background-color: rgb(26, 25, 21);
  }
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 154px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .search {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 192px;
  }
  .ere {
    margin: 0;
    margin-right: 50px;
  }
  .wer {
    font-size: 24px;
    margin-bottom: 30px;
    width: fit-content;
  }
  .fug {
    font-size: 52px;
    width: 504px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .block {
    margin: 0;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .one {
    order: 1;
  }
  .two {
    order: 3;
  }
  .three {
    order: 2;
  }
  .four {
    order: 4;
  }
  .list-item {
    width: 256px;
  }
  .bub {
    width: 190px;
  }

  .conn {
    width: 172px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 944px;
  }
  .page-header {
    background-image: url("/img/Vector\ Smart\ 1\ Object.png");
    background-color: rgb(26, 25, 21);
  }
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 154px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .ere {
    margin: 0;
  }
  .search {
    margin-bottom: 232px;
    cursor: pointer;
  }
  .wer {
    font-size: 24px;
    width: 400px;
    margin-bottom: 36px;
  }
  .fug {
    font-size: 52px;
    line-height: 1.2;
    width: 504px;
    margin-bottom: 30px;
  }
  .team-van {
    text-align: center;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .one {
    order: 1;
  }
  .two {
    order: 3;
  }
  .three {
    order: 2;
  }
  .four {
    order: 4;
  }
  .list-item {
    width: 230px;
  }
  .bub {
    width: 197px;
    margin-bottom: 72px;
  }
  .container.fut {
    padding-top: 35px;
  }
  .tekst-tu {
    margin-bottom: 0px;
  }

  .conn {
    width: 172px;
  }
  .contee {
    cursor: pointer;
  }
  .search:hover,
  .search:focus {
    border-radius: 10px;
  }
  .contee:hover .contee:focus {
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 20px;
  }
}
