.foter {
  display: none;
}
@media screen and (min-width: 1920px) {
  .foter {
    display: block;
    background-color: $secondory-accent-color;
    &__list {
      @include space-between($type: 'all');
      @include center-flex($type: 'ver');
    }
    &__description {
      font-size: 17px;
      margin: 0px;
    }
  }
}
