.one-section {
  background-color: $background-color;
  @extend %background-standart;
  width: 100%;
  height: auto;
  margin: 0 auto;

  &__title {
    font-weight: bold;
    @extend %reset;
    font-weight: 400;
    font-style: normal;
    font-family: $fon-Impact;
    text-transform: uppercase;
    margin-bottom: 14px;
    font-size: 33px;
    line-height: $line-title;
    width: 115px;
  }
  &__picture {
    margin: 0px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 74.9px;
      left: 20px;
      background-image: url('../images/Vector\ Smart\ Objec000t.png');
      width: 13px;
      height: 13px;
      background-position: right bottom;
      background-repeat: no-repeat;
      z-index: 1;
    }
  }
  &__div-wraper {
    padding-top: 18px;
  }
  &__span {
    display: block;
    width: 50px;
    height: 4px;
    background-color: $hover-color-two;
    // margin-bottom: 14px;
  }
  &__div-wraper {
    @include space-between($type: 'all');
    @include center-flex($type: 'ver');
    margin-bottom: 16px;
  }
  &__text {
    // font-family: $fon-Assistant;
    font-weight: 600;
    text-align: start;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0px;
  }
  &__text-1 {
    line-height: $line-height;
    margin: 0px;
  }

  &__div-1 {
    // font-family: $fon-Assistant;
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: $line-height-title-big;
    text-align: start;
    position: relative;
    &::before {
      display: inline-block;
      content: '';
      position: absolute;
      border-top: 2px dotted $hover-color-one;
      // border: dotted;
      width: 100%;
      top: 47px;
      left: 0px;
      z-index: 1;
    }
    &::after {
      display: inline-block;
      content: '';
      position: absolute;
      border-top: 2px dotted $hover-color-one;
      width: 100%;
      top: 119px;

      left: 0px;
      z-index: 1;
    }
  }
  &__list {
    @include space-between($type: 'all');
    @include flex-wrap($type: 'all');
    padding: 0px;
    margin: 0px;
    margin-bottom: 14px;
  }
  &__wraper {
    @include space-between($type: 'all');
    @include center-flex($type: 'ver');
    padding-bottom: 14px;
  }
  &__button {
    // font-family: $fon-Assistant;
    background-color: $hover-color-two;
    border: 0px;
    color: $primary-white-color;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    width: 106px;
    height: 34px;
    line-height: $line-title;
  }
  &__name {
    // font-family: $fon-Assistant;
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: $line-title;
  }
  &__item {
    @include center-flex($type: 'ver');
    text-align: center;

    width: 146px;
    background-color: $primary-white-color;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 25px;
    min-height: 180px;
    padding: 8px 8px;
    transition: all 0.2s linear;

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 12px;
    }

    &:hover {
      background-color: $hover-color-two;
      color: $primary-white-color;
    }
  }
}

@media screen and (min-width: 1920px) {
  // br {
  //   display: none;
  // }
  .one-section {
    &__wraper {
      position: absolute;
      top: 859px;
      left: 635px;
      width: 420px;
      padding: 0px;
    }
    &__button {
      width: 140px;
      height: 50px;
      font-size: 22px;
    }
    &__text {
      font-size: 32px;
    }
    &__text-1 {
      line-height: $line-height-title-big;
      font-size: 22px;
    }
    &__br {
      display: none;
    }
    &__div-1 {
      &::before {
        border-top: 4px dotted #413e34;
        top: 38px;
      }
      &::after {
        border-top: 4px dotted #413e34;
        top: 115px;
      }
    }

    &__picture {
      display: none;
    }
    &__div-2 {
      width: 1460px;
      margin: 0 auto;
    }
    &__div-3 {
      position: relative;
      &::after {
        display: inline-block;
        content: '';
        position: absolute;
        border-top: 2px dotted #413e34;
        width: 123px;
        top: 617px;
        left: 1300px;
        z-index: 5;
      }

      margin-left: 130px;
      margin-right: 56px;
      padding-bottom: 180px;
    }
    &__list {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        top: -121px;
        left: 628px;

        background-image: url('../images/VectorSmartObjec-2-min.png');
        width: 645px;
        height: 374px;
        background-position: right bottom;
        background-repeat: no-repeat;
        z-index: 1;
      }

      &::after {
        position: absolute;
        content: '';
        top: 184px;
        left: 711px;
        background-image: url('/build/images/Vector\ Smart\ Objec88t.png');
        width: 52px;
        height: 52px;
        background-position: right bottom;
        background-repeat: no-repeat;
        z-index: 2;
      }
      // display: inline-block;
      width: 590px;
      height: 542px;
      margin: 0;
    }
    &__div-wraper {
      margin: 0px;
    }
    &__div-wraper {
      padding-top: 190px;
    }
    &__name {
      font-size: 22px;
    }
    &__span {
      width: 116px;
      height: 8px;
      margin-bottom: 46px;
    }
    &__title {
      width: 100%;
      font-size: 75px;
      margin-bottom: 40px;
    }
    &__item {
      // display: inline-block;
      width: 276px;
      min-height: 254px;
      margin-right: 0px;
      padding: 15px 15px;

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 33px;
      }
    }
  }
}
