.one-section {
  background-color: $background-color;
  @extend %background-standart;
  width: 100%;
  height: auto;
  margin: 0 auto;

  &__title {
    font-weight: bold;
    @extend %reset;
    font-weight: 400;
    font-style: normal;
    font-family: $fon-Impact;
    text-transform: uppercase;
    margin-bottom: 14px;
    font-size: 33px;
    line-height: $line-title;
    max-width: 100px;
  }
  &__div-wraper {
    padding-top: 18px;
  }
  &__span {
    display: block;
    width: 50px;
    height: 4px;
    background-color: $hover-color-two;
    // margin-bottom: 14px;
  }
  &__div-wraper {
    @include space-between($type: 'all');
    @include center-flex($type: 'ver');
    margin-bottom: 16px;
  }
  &__text {
    // font-family: $fon-Assistant;
    font-weight: 600;
    text-align: start;
    font-size: 20px;
    text-transform: uppercase;
  }
  // &__text-div {
  //   position: relative;
  //   &::before {
  //     display: inline-block;
  //     content: '';
  //     position: absolute;
  //     border-left: 2px dashed #858585;
  //     height: 100%;
  //     top: 0px;
  //     left: 4px;
  //   }
  //   &::after {
  //   }
  // }
  &__text-1 {
    // font-family: $fon-Assistant;
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: $line-height-title-big;
    text-align: start;
    position: relative;
    &::before {
      display: inline-block;
      content: '';
      position: absolute;
      border-top: 2px dotted $first-gray-color;
      // border: dotted;
      width: 100%;
      top: 51px;
      left: 0px;
      z-index: 1;
    }
    &::after {
      display: inline-block;
      content: '';
      position: absolute;
      border-top: 2px dotted $first-gray-color;
      width: 100%;
      top: 131px;
      left: 0px;
      z-index: 1;
    }
  }
  &__list {
    @include space-between($type: 'all');
    @include flex-wrap($type: 'all');
    padding: 0px;
    margin: 0px;
    margin-bottom: 14px;
  }
  &__wraper {
    @include space-between($type: 'all');
    @include center-flex($type: 'ver');
    padding-bottom: 14px;
  }
  &__button {
    // font-family: $fon-Assistant;
    background-color: $hover-color-two;
    border: 0px;
    color: $primary-white-color;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    width: 106px;
    height: 34px;
    line-height: $line-title;
  }
  &__name {
    // font-family: $fon-Assistant;
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: $line-title;
  }
  &__item {
    @include center-flex($type: 'ver');
    text-align: center;

    width: 146px;
    background-color: $primary-white-color;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 25px;
    min-height: 180px;
    padding: 8px 8px;
    transition: all 0.2s linear;

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 12px;
    }

    &:hover {
      background-color: $hover-color-two;
      color: $primary-white-color;
    }
  }
}

@media screen and (min-width: 1680px) {
  .site-navigation__a {
    color: $first-gray-color;
  }
  .site-navigation__item {
    margin-right: 45px;
  }
  .one-section {
    background-image: url(../images/Sha_1680-min.png);
    &__wrapper {
      @include center-flex('all');
      justify-content: space-between;
      padding-top: 54px;
      margin-bottom: 110px;
    }
    &__tecst {
      display: flex;
      flex-direction: column;
      justify-content: start;
    }
    &__button {
      letter-spacing: 2px;
      font-size: $first-text-size;
      width: 354px;
      height: 70px;
      margin: 0;
    }

    &__title {
      font-size: $subtitle-text-size;
      width: 500px;
      padding: 0;
    }
    &__picture {
      margin: 0;
    }
    &__list {
      @include center-flex('all');
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: 130px;
    }
    &__svg {
      margin: 0 auto;
    }
    &__item {
      flex-basis: auto;
      position: relative;
      margin: 0;
    }

    &__description-br {
      display: none;
    }
    &__description {
      font-size: $title-text-size;
    }
    &__svg {
      width: 100px;
      height: 100px;
    }
    &__name {
      margin-left: 0;
      width: 302px;
      font-size: $title-text-size;
    }
    &__name-div {
      position: relative;
      right: 15px;
    }

    &__imge {
      height: 68px;
      top: 14%;
      left: 80%;
    }
  }
}
