.one-section {
  background-color: $background-color;
  @extend %background-standart;
  width: 100%;
  height: auto;
  margin: 0 auto;

  &__title {
    // font-family: $fon-Montserrat-ExtraBold;
    font-weight: bold;
    @extend %reset;
    padding-top: 58px;
    margin-bottom: 38px;
    font-size: $title-text-size;
    line-height: $line-height-title;
  }
  &__text {
    text-align: start;
  }
  &__list {
    @include space-between($type: 'all');
    @include flex-wrap($type: 'all');
    padding: 0px;
    margin-bottom: 14px;
  }
  &__item {
    @include center-flex($type: 'ver');
    text-align: center;

    width: 146px;
    background-color: $primary-white-color;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 25px;
    min-height: 180px;
    padding: 8px 8px;
    transition: all 0.2s linear;

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 12px;
    }

    &:hover {
      background-color: $hover-color-two;
    }
  }
}
@media screen and (min-width: 1680px) {
  .site-navigation__a {
    color: $first-gray-color;
  }
  .site-navigation__item {
    margin-right: 45px;
  }
  .one-section {
    background-image: url(../images/Sha_1680-min.png);
    &__wrapper {
      @include center-flex('all');
      justify-content: space-between;
      padding-top: 54px;
      margin-bottom: 110px;
    }
    &__tecst {
      display: flex;
      flex-direction: column;
      justify-content: start;
    }
    &__button {
      letter-spacing: 2px;
      font-size: $first-text-size;
      width: 354px;
      height: 70px;
      margin: 0;
    }

    &__title {
      font-size: $subtitle-text-size;
      width: 500px;
      padding: 0;
    }
    &__picture {
      margin: 0;
    }
    &__list {
      @include center-flex('all');
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: 130px;
    }
    &__svg {
      margin: 0 auto;
    }
    &__item {
      flex-basis: auto;
      position: relative;
      margin: 0;
    }

    &__description-br {
      display: none;
    }
    &__description {
      font-size: $title-text-size;
    }
    &__svg {
      width: 100px;
      height: 100px;
    }
    &__name {
      margin-left: 0;
      width: 302px;
      font-size: $title-text-size;
    }
    &__name-div {
      position: relative;
      right: 15px;
    }

    &__imge {
      height: 68px;
      top: 14%;
      left: 80%;
    }
  }
}
