.three-section {
  background-color: $hover-color-two;
  width: 100%;
  height: auto;
  margin: 0 auto;
  &__heading {
    margin: 0px;
  }
}

@media screen and (min-width: 1920px) {
  .three-section {
  }
}
