.two-section {
  &__title {
    font-weight: bold;
    @extend %reset;
    font-weight: 400;
    font-style: normal;
    font-family: $fon-Impact;
    text-transform: uppercase;
    margin-bottom: 14px;
    font-size: 33px;
    line-height: $line-title;
    width: 100%;
    padding-top: 22px;
    margin-bottom: 18px;
  }
  &__span {
    display: block;
    width: 50px;
    height: 4px;
    background-color: $hover-color-two;
    margin-bottom: 18px;
  }
  &__p {
    color: $hover-color-one;
    margin: 0px;
    margin-left: 8px;
    width: 280px;
    font-size: 16px;
    font-weight: 400;
    line-height: $line-height-one;
  }
  &__button {
    background-color: $background-color;
    @include space-between($type: 'all');
    @include center-flex($type: 'ver');
  }
  &__button-left {
    width: 55px;
    height: 55px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__div-a {
    display: none;
  }

  &__a-1 {
    background-image: url('../images/blec-1/1a.jpg');
    display: inline-block;
    width: 130px;
    height: 110px;
  }
  &__a-1:hover {
    background-image: url('../images/wait-1/1q.jpg');
  }
  &__a-2 {
    background-image: url('../images/blec-1/2a.jpg');
    display: inline-block;
    width: 130px;
    height: 110px;
  }
  &__a-2:hover {
    background-image: url('..images/wait-1/2q.jpg');
  }
  &__a-3 {
    background-image: url('../images/blec-1/3a.jpg');
    display: inline-block;
    width: 130px;
    height: 110px;
  }
  &__a-3:hover {
    background-image: url('../images/wait-1/3q.jpg');
  }
  &__a-4 {
    background-image: url('../images/blec-1/4a.jpg');
    display: inline-block;
    width: 130px;
    height: 110px;
  }
  &__a-4:hover {
    background-image: url('../images/wait-1/4q.jpg');
  }
  &__a-5 {
    background-image: url('../images/blec-1/5a.jpg');
    display: inline-block;
    width: 130px;
    height: 110px;
  }
  &__a-5:hover {
    background-image: url('../images/wait-1/5q.jpg');
  }
  &__a-6 {
    background-image: url('../images/blec-1/6a.jpg');
    display: inline-block;
    width: 130px;
    height: 110px;
  }

  &__a-6:hover {
    background-image: url('../images/wait-1/6q.jpg');
  }
  &__a-7 {
    background-image: url('../images/blec-1/7a.jpg');
    display: inline-block;
    width: 130px;
    height: 110px;
  }
  &__a-7:hover {
    background-image: url('../images/wait-1/7q.jpg');
  }
  &__a-8 {
    background-image: url('../images/blec-1/8a.jpg');
    display: inline-block;
    width: 130px;
    height: 110px;
  }
  &__a-8:hover {
    background-image: url('../images/wait-1/8q.jpg');
  }

  &__button-rayd {
    width: 55px;
    height: 55px;
  }
  &__big {
    color: $hover-color-one;
    font-weight: 800;
    font-size: 13.5px;
  }
  &__items:hover &__color {
    background-color: $hover-color-one;
  }
  &__color {
    color: $hover-color-two;
  }
  &__text {
    font-size: 13.5px;
  }
  &__wrapper {
    background-color: $background-color;
  }
  &__img {
    padding-top: 13px;
  }
}

@media screen and (min-width: 1920px) {
  .two-section {
  }
}

.bg_ {
  background-color: rgba(29, 29, 27, 0.11);
  box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);
  position: absolute;
  left: 855px;
  top: 2188px;
  width: 390px;
  height: 340px;
  z-index: 169;
}
