.two-section {
  &__title {
    font-weight: bold;
    @extend %reset;
    font-weight: 400;
    font-style: normal;
    font-family: $fon-Impact;
    text-transform: uppercase;
    margin-bottom: 14px;
    font-size: 33px;
    line-height: $line-title;
    width: 100%;
    padding-top: 22px;
    margin-bottom: 18px;
  }
  &__span {
    display: block;
    width: 50px;
    height: 4px;
    background-color: $hover-color-two;
    margin-bottom: 18px;
  }
  &__p {
    color: $hover-color-one;
    margin: 0px;
    margin-left: 8px;
    width: 247px;
  }
  &__button {
    background-color: $background-color;
    @include space-between($type: 'all');
    @include center-flex($type: 'ver');
  }
  &__button-left {
    width: 55px;
    height: 55px;
  }

  &__button-rayd {
    width: 55px;
    height: 55px;
  }
  &__big {
    color: $hover-color-one;
    font-weight: 800;
  }
  &__color {
    color: $hover-color-two;
  }
  &__wrapper {
    background-color: $background-color;
  }
}

@media screen and (min-width: 1920px) {
  .two-section {
  }
}
