.two-section {
  &__title {
    font-weight: bold;
    @extend %reset;
    font-weight: 400;
    font-style: normal;
    font-family: $fon-Impact;
    text-transform: uppercase;
    margin-bottom: 14px;
    font-size: 33px;
    line-height: $line-title;
    width: 100%;
    padding-top: 22px;
    margin-bottom: 18px;
  }
  &__spane {
    display: block;
    width: 50px;
    height: 4px;
    background-color: $hover-color-two;
    margin-bottom: 18px;
    border: none;
  }
  &__pe {
    color: $hover-color-one;
    margin: 0px;
    margin-left: 8px;
    width: 272px;
    font-size: 16px;
    font-weight: 400;
    line-height: $line-height-one;
    padding-bottom: 12px;
  }
  &__button {
    background-color: $secondory-accent-color;
    @include space-between($type: 'all');
    @include center-flex($type: 'ver');
    border: none;
  }
  &__button-left {
    background-image: url('../images/arrow\ left.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: $background-color;
    width: 55px;
    height: 55px;
    border: none;
    padding: 0px;
    transition: all 0.2s linear;
  }
  &__button-left:hover {
    background-color: $hover-color-two;
  }
  &__buton {
    background-image: url('../images/arrow\ left\ copy\ 2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: $background-color;
    height: 55px;
    width: 55px;
    border: none;
    padding: 0px;
    transition: all 0.2s linear;
  }

  &__buton:hover {
    background-color: $hover-color-two;
  }
  &__button-rayd {
    background-image: url('../images/arrow\ left\ copy.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: $background-color;
    border: none;
    width: 55px;
    height: 55px;
    padding: 0px;
    transition: all 0.2s linear;
  }
  &__button-rayd:hover {
    background-color: $hover-color-two;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__a-1 {
    background-image: url('../images/blec-1/1a.jpg');
  }
  &__a-1:hover {
    background-image: url('../images/wait-1/1q.jpg');
  }
  &__a-2 {
    background-image: url('../images/blec-1/2a.jpg');
  }
  &__a-2:hover {
    background-image: url('../images/wait-1/2q.jpg');
  }
  &__a-3 {
    background-image: url('../images/blec-1/3a.jpg');
  }
  &__a-3:hover {
    background-image: url('../images/wait-1/3q.jpg');
  }
  &__a-4 {
    background-image: url('../images/blec-1/4a.jpg');
  }
  &__a-4:hover {
    background-image: url('../images/wait-1/4q.jpg');
  }
  &__a-5 {
    background-image: url('../images/blec-1/5a.jpg');
  }
  &__a-5:hover {
    background-image: url('../images/wait-1/5q.jpg');
  }
  &__a-6 {
    background-image: url('../images/blec-1/6a.jpg');
  }

  &__a-6:hover {
    background-image: url('../images/wait-1/6q.jpg');
  }
  &__a-7 {
    background-image: url('../images/blec-1/7a.jpg');
  }
  &__a-7:hover {
    background-image: url('../images/wait-1/7q.jpg');
  }
  &__a-8 {
    background-image: url('../images/blec-1/8a.jpg');
  }
  &__a-8:hover {
    background-image: url('../images/wait-1/8q.jpg');
  }

  &__wrapper-button {
    @include center-flex($type: 'ver');
    @include center-flex($type: 'col');
  }
  &__text-button {
    // font-family: $fon-Assistant;
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 4px;
  }

  &__big {
    color: $hover-color-one;
    font-weight: 800;
    font-size: 13.5px;
  }
  &__items:hover &__color {
    background-color: $hover-color-one;
  }
  &__color {
    color: $hover-color-two;
  }
  &__text {
    font-size: 13.5px;
  }
  &__wrapper {
    background-color: $secondory-accent-color;
  }
  &__img {
    padding-top: 13px;
  }
  &__dive-3 {
    display: none;
  }
  &__a-9 {
    display: none;
  }
  &__a-10 {
    display: none;
  }
  &__a-11 {
    display: none;
  }
  &__a-12 {
    display: none;
  }
  &__a-13 {
    display: none;
  }
  &__a-14 {
    display: none;
  }
  &__a-15 {
    display: none;
  }
  &__imge {
    display: none;
  }
}
@media screen and (max-width: 1919px) {
  .two-section__column {
    display: none;
  }
}

@media screen and (min-width: 1920px) {
  .two-section {
    position: relative;
    &__a-1 {
      background-image: url('../images/blec/1a.jpg');
    }
    &__a-1:hover {
      background-image: url('../images/wait/1q.jpg');
    }
    &__a-2 {
      background-image: url('../images/blec/2a.jpg');
    }
    &__a-2:hover {
      background-image: url('../images/wait/2q.jpg');
    }
    &__a-3 {
      background-image: url('../images/blec/3a.jpg');
    }
    &__a-3:hover {
      background-image: url('../images/wait/3q.jpg');
    }
    &__a-4 {
      background-image: url('../images/blec/4a.jpg');
    }
    &__a-4:hover {
      background-image: url('../images/wait/4q.jpg');
    }
    &__a-5 {
      background-image: url('../images/blec/5a.jpg');
    }
    &__a-5:hover {
      background-image: url('../images/wait/5q.jpg');
    }
    &__a-6 {
      background-image: url('../images/blec/6a.jpg');
    }

    &__a-6:hover {
      background-image: url('../images/wait/6q.jpg');
    }
    &__a-7 {
      background-image: url('../images/blec/7a.jpg');
    }
    &__a-7:hover {
      background-image: url('../images/wait/7q.jpg');
    }
    &__a-8 {
      background-image: url('../images/blec/8a.jpg');
    }
    &__a-8:hover {
      background-image: url('../images/wait/8q.jpg');
    }
    &__a-9 {
      background-image: url('../images/blec/9a.jpg');
    }
    &__a-9:hover {
      background-image: url('../images/wait/9q.jpg');
    }
    &__a-10 {
      background-image: url('../images/blec/10a.jpg');
    }
    &__a-10:hover {
      background-image: url('../images/wait/10q.jpg');
    }
    &__a-11 {
      background-image: url('../images/blec/11a.jpg');
    }
    &__a-11:hover {
      background-image: url('../images/wait/11q.jpg');
    }
    &__a-12 {
      background-image: url('../images/blec/12a.jpg');
    }
    &__a-12:hover {
      background-image: url('../images/wait/12q.jpg');
    }
    &__a-13 {
      background-image: url('../images/blec/13a.jpg');
    }
    &__a-13:hover {
      background-image: url('../images/wait/13q.jpg');
    }
    &__a-14 {
      background-image: url('../images/blec/14a.jpg');
    }

    &__a-14:hover {
      background-image: url('../images/wait/14q.jpg');
    }
    &__a-15 {
      background-image: url('../images/blec/15a.jpg');
    }
    &__a-15:hover {
      background-image: url('../images/wait/15q.jpg');
    }

    &__a-9 {
      display: inline-block;
    }
    &__a-10 {
      display: inline-block;
    }
    &__a-11 {
      display: inline-block;
    }
    &__a-12 {
      display: inline-block;
    }
    &__a-13 {
      display: inline-block;
    }
    &__a-14 {
      display: inline-block;
    }
    &__a-15 {
      display: inline-block;
    }
    &__div-a {
      display: flex;
      flex-wrap: wrap;
    }
    &__wraper {
      position: relative;
      width: 1200px;
      margin: auto;
    }

    &__list-div {
      display: flex;
      flex-wrap: wrap;
    }

    &__wrapper {
      display: flex;
      flex-direction: row-reverse;
    }
    &__dive-3 {
      margin: 0px;
      display: flex;
    }
    &__dive {
      margin: 0px;
    }
    &__title {
      padding-top: 0px;
      font-size: 75px;
      margin-bottom: 44px;
    }
    &__spane {
      width: 118px;
      height: 6px;
      margin-bottom: 46px;
    }
    &__dive-3 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 600px;
      min-height: 330px;
    }
    &__dive {
      width: 600px;
      min-height: 330px;
    }

    &__button-left {
      background-image: url('../images/arro\ left.png');
      position: absolute;
      z-index: 1;
      top: 270px;
      left: -130px;
      width: 130px;
      height: 130px;
    }
    &__button-rayd {
      background-image: url('../images/arrow\ right.png');
      top: 270px;
      left: 1200px;
      position: absolute;
      z-index: 1;
      width: 130px;
      height: 130px;
    }
    &__buton {
      background-image: url('/build/images/arrow\ down.png');
      width: 130px;
      height: 130px;
    }
    &__img {
      display: none;
    }
    &__imge {
      display: inline-block;
      width: 143px;
      height: 36px;
      margin-bottom: 33px;
      margin-left: 25px;
      margin-top: 34px;
    }
    &__text-button {
      font-size: 16px;
      margin-bottom: 6px;
    }
    &__pe {
      width: 100%;
      height: 216px;
      padding: 0px 25px;
      margin: 0px;
      font-size: 22px;
      line-height: $line-height-title;
    }
    &__big {
      font-size: 19.5px;
    }
    &__text {
      font-size: 18px;
    }
    &__wrapper {
      position: relative;
      &::after {
        display: inline-block;
        content: '';
        position: absolute;
        border-left: 2px dashed $hover-color-one;
        height: 91%;
        top: 14px;
        left: 598px;
      }
      &::before {
        position: absolute;
        content: '';
        width: 80px;
        height: 66px;
        background-position: right bottom;
        background-repeat: no-repeat;
        z-index: 1;
        top: -42px;
        right: 22px;
        background-image: url('../images/”-min.png');
      }
    }
    &__imges {
      display: inline-block;
      width: 143px;
      height: 36px;
      margin-bottom: 39px;
      margin-left: 25px;
      margin-top: 34px;
    }
  }
}
